<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="l-header">
      <div class="l-header__inner l-header">
        <div class="l-header__logo">
          <h1 class="logo">TweetApp</h1>
        </div>
        <div class="c-hamburger">
          <span class="c-hamburger__bar"></span>
          <span class="c-hamburger__bar"></span>
          <span class="c-hamburger__bar"></span>
        </div>
        <nav class="l-header-nav">
          <ul class="l-header-nav__list">
            <li class="l-header-nav__item"><%= link_to("TweetAppとは", "/about") %></li>
            <li class="l-header-nav__item"><%= link_to("ログイン", "/") %></li>
            <li class="l-header-nav__item"><%= link_to("新規登録", "/") %></li>
          </ul>
        </nav>
      </div>
    </header>
    <nav class="c-sp-nav">
      <ul class="c-sp-nav__list">
        <li class="c-sp-nav__item"><%= link_to("TweetAppとは", "/about") %></li>
        <li class="c-sp-nav__item"><%= link_to("ログイン", "/") %></li>
        <li class="c-sp-nav__item"><%= link_to("新規登録", "/") %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
